<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/search" method="post">
      <input type="text" name="Value" placeholder="Search">
      <p><input type="checkbox" name="name"> Name</p>
      <p><input type="checkbox" name="phoneNumber">Phone Number</p>
      <p><input type="checkbox" name="MIS"> MIS</p>
      <p><input type="checkbox" name="Divison"> Divison</p>
      <button type="Submit">Search</button>
      <p>Invalid Input</p>
    </form>
  </body>
</html>
