<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    <form class="" action="/search" method="post">
      <input type="text" name="Value" placeholder="Search">
        <p><input type="checkbox" name="name"> Name <input type="checkbox" name="phoneNumber">Phone Number <input type="checkbox" name="MIS"> MIS <input type="checkbox" name="Divison"> Divison</p>
      <button type="Submit">Search</button>
    </form>

    <h1>Result: </h1>
        <form class="" action="/search" method="post">
            <p>Name : <%= Data[0].name %>  </p>
            <p>Divison :<%= Data[0].Divison %>  </p>
            <p>Number: <%= Data[0].No %>  </p>
            <p>MIS: <%= Data[0].MIS %>  </p>
        </form>
  </body>
</html>
